@using System.Globalization


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Booking.Web</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/all.css" />
    <link rel="stylesheet" href="~/css/normalize.css" />
</head>
<body class="main-body">
    <header>
        <img src="" />
        <div class="user-wrapper">
            <div class="user">
                <span class="full-name">Welcome</span>
                <span class="role">username As role</span>
            </div>
            <div class="user-date">
                <i class="fas fa-calendar-alt"></i>
                <span>
                    @{
                        DateTime currentDate = DateTime.UtcNow;
                        var cultureInfo = new CultureInfo("id-ID");
                    }
                    @currentDate.ToString("ddd, dd MMMM yyyy", cultureInfo)
                </span>
            </div>
            <div class="sign-out">
                <a asp-action="Logout" asp-controller="Account">
                    <i class="fas fa-power-off"></i>
                    Logout
                </a>
            </div>
        </div>
    </header>
    <div class="bread-crumbs">
        @RenderSection(name:"breadCrumbs", required:false)
    </div>

    <partial name="_Menu" />
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="footer">
            &copy; 2024 - Booking.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
