<nav>
    <div class="company-logo">
        <img src="~/kino-logo.png" alt="Booking" />
    </div>
    <div class="menu-title">SETTING</div>
    <a class="menu global-setup" asp-controller="GlobalSetup" asp-action="Index">
        <span>Global Setup</span>
    </a>
    <div class="menu-title">MASTER DATA</div>
    <a class="menu booking-code" asp-controller="BookingCode" asp-action="Index">
        <span>Master Booking Code</span>
    </a>
    <a class="menu resource" asp-controller="Resource" asp-action="Index">
        <span>Master Resource</span>
    </a>
    <a class="menu room" asp-controller="Room" asp-action="Index">
        <span>Master Room</span>
    </a>
    <a class="menu user" asp-controller="User" asp-action="Index">
        <span>Master User</span>
    </a>
    <a class="menu role" asp-controller="Role" asp-action="Index">
        <span>Master Role</span>
    </a>
    <div class="menu-title">TRANSACTION</div>
    <div class="menu-title">DISPLAY</div>
</nav>