@{
    ViewData["Title"] = "Home Page";
}

@section breadCrumbs {
    <span>Home</span>
}

<div class="grid-container-image">
    <form class="filter">
        <label>Location</label>
        <select>Location1</select>
        <label>Number Of Participant (s)</label>
        <input type="number" />
        <label>From</label>
        <input type="date" />
        <input type="time" />
        <label>To</label>
        <input type="date" />
        <input type="time" />
        <input type="checkbox" /> Check Availability
        <button class="blue-button" type="submit">Submit</button>
    </form>
    <div class="tiles-container">
        <div class="tile">
            <div class="title-card"></div>
            <div class="floor">Floor : 17</div>
            <div class="room-capacity">Room Capacity : 2</div>
            <div class="location">Location : Bogor</div>
            <div class="description">Description</div>
            <a href="" class="blue-button">Book Room</a>
        </div>
    </div>
</div>
